body {
    background-color: black;
    color: white;
}

input[type=button]{
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 15px;
	width: 90%;
	height: 40px;
	text-align: center;
	border-radius: 10px;
	outline-color: black;
}

input[type=image][id=menu]{
	float: right;
    background-color: black;
    width: 30px;
    height: 30px;
    outline-color: black;
}

