body {
    background-color: black;
    color: white;
}

label {
    font-size: 20px;
}

input {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #D7D3D3;
    border-radius: 10px;
    outline-color: black;
}

input[type=submit] {
	background-color: #B2AFB0;
}

input[type=image][id=menu]{
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    float: right;
    background-color: black;
    width: 30px;
    height: 30px;
}


select {
    padding-right: 2px;
    padding-left: 33px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #D7D3D3;
    width: 230px;
    border-radius: 10px;
    border-color: black;
    height: 39px;
    outline-color: black;
}